.animate-before{
  transform: translateY(100px);
  opacity: 0;
  pointer-events: none;
}
.animate-after{
  transform: translateY(-100px);
  opacity: 0;
  pointer-events: none;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  span {
    color: #dbb826;
    
  }
}

.stackIn {
  span {
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stackIn 1s cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms);
  }
}

.stackOut {
  span {
    opacity: 0;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stackOut 1s cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms);
  }
}

.stackIn span:nth-child(odd) { --glitch-translate: 8px; }
  .stackIn span:nth-child(even) { --glitch-translate: -8px; }

  .stackOut span:nth-child(odd) { --glitch-translate: 8px; }
  .stackOut span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stackIn {
    0% {
      opacity: 0;
      transform: translateX(50%);
      text-shadow: -2px 3px 0 #1bc7fb, 2px -3px 0 #fff;
    };
    60% {
      opacity: 0.5;
      transform: translateX(-50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 #1bc7fb, -2px 3px 0 #fff;
    }
    100% {
      text-shadow: none;
    }
  }

  @keyframes stackOut {
    0% {
      opacity: 1;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 #1bc7fb, 2px -3px 0 #fff;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 0;
      text-shadow: 2px -3px 0 #1bc7fb, -2px 3px 0 #fff;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 #1bc7fb, 2px -3px 0 #fff;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 #1bc7fb, -2px 3px 0 #fff;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }